MONGODB_DB = 'cve_tracker'
MONGODB_HOST = '127.0.0.1'
MONGODB_PORT = 27017

CACHE_TYPE = "redis"
CACHE_REDIS_HOST="localhost"
CACHE_REDIS_DB=4

GITHUB_ORG='LineageOS'
GITHUB_CLIENT_ID="{{github_client_id}}"
GITHUB_CLIENT_SECRET="{{github_client_secret}}"

SECRET_KEY="{{session_key}}"
